<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">
    	<!-- RUNTIME CONFIG -->

	<listeners>
		<listener class-name="com.prudential.common.listeners.SuiteListeners"> </listener>
		<listener class-name="com.prudential.common.listeners.TestListeners"></listener>
	</listeners>
    
    <test name="OpenWeatherMap BDD TestNG" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.prudential.stepdefs.common.TestRunner"/>
        </classes>
    </test>
</suite>